<header class="body-font z-10 text-gray-600 sticky top-0 bg-white border-b-2">
    <div class="container mx-auto flex flex-row flex-wrap items-center p-5">
      <a href="/cannanote" class="title-font mb-0 flex items-center font-medium">
        <svg width="200" height="200" viewBox="0 0 24 24" class="h-10 w-10 rounded-full bg-lime-500 p-2" xmlns="http://www.w3.org/2000/svg"></svg>
        <span class="ml-3 text-2xl">CannaNote</span>
      </a>
      <nav class="ml-auto mr-auto flex flex-wrap items-center justify-center text-base"></nav>
      <div class="flex gap-1">
        <a href="/cannanote/new" class="mt-0 inline-flex items-center rounded-2xl border-2 border-lime-300 px-3 py-1 text-base hover:border-lime-400 hover:bg-lime-400 hover:text-white focus:outline-none"> Create Note </a>
        <form class="mt-0 inline-flex items-center rounded-2xl border-2 border-red-400 px-3 py-1 text-base hover:border-solid hover:border-red-400 hover:bg-red-400 hover:text-white focus:outline-none" action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
      </div>
    </div>
  </header>
  