<header>
    <nav>
        <div class="nav-wrapper #43a047 green darken-1">
            <a href="/cannanote" class="brand-logo">CannaNote</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down #00c853 green accent-4">
                <li><a href="/cannanote">Home</a></li>
                <li><a href="">About</a></li>
                <li>
                    <form action="/logout" method="post">
                        <input type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>