<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/cannanote" class="brand-logo"><h1>CannaNote</h1></a>
            <ul class="nav-links">
                <li><a class="btn" href="/cannanote">Home</a></li>
                <li><a class="btn" href="">About</a></li>
                <li>
                    <form action="/logout" method="post">
                        <input type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>