<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head.ejs') %>
    <title>New Entry</title>
</head>
<body id="new">
<%- include('./partials/appNav.ejs') %>
    <div class="new-entry">
      <form class="box-border overflow-auto rounded-lg bg-gray-50 p-4" action="/cannanote" method="POST">
        <fieldset class="flex flex-col gap-2 rounded-md border-[1px] p-5">
            <legend class="p-2 font-mono text-xl font-medium text-[--purple]">Product Information</legend>
            <div class="md:columns-2">
              <label class="block px-2 font-mono font-extralight text-[--bright-green]" for="brand_name">Brand Name</label>
              <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2" type="text" name="brand_name" id="brand_name" placeholder="Plain Jacket" />
              <label class="block px-2 font-mono font-extralight text-[--bright-green]" for="product_name">Product Name</label>
              <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2" type="text" name="product_name" id="product_name" placeholder="Premium Flower" />
            </div>
            <div class="columns-1 md:columns-3">
              <div class="md:flex md:items-center md:justify-center">
                <label class="block px-2 font-mono font-extralight text-[--bright-green]" for="product_category">Category</label>
                <select class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2" name="product_category" id="product_category">
                  <option value="">------</option>
                  <option value="flower">Flower</option>
                  <option value="pre_role">Pre-Roll</option>
                  <option value="concentrate">Concentrate</option>
                  <option value="tincture">Tincture</option>
                  <option value="topical">Topical</option>
                  <option value="edible">Edible</option>
                </select>
              </div>
              <div class="md:flex md:items-center md:justify-center">
                <label class="block px-2 font-mono font-extralight text-[--bright-green]" for="weight">Dosage</label>
                <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="dose_amount" id="weight" max="10000" step="0.1" min="0" placeholder="0.1" />
                <select class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-[0.65rem]" name="dose_unit" id="dose_unit">
                  <option value="">---</option>
                  <option value="g">g</option>
                  <option value="ml">ml</option>
                  <option value="mg">mg</option>
                  <option value="l">l</option>
                  <option value="oz">oz</option>
                </select>
              </div>
              <div class="md:flex md:items-center md:justify-center">
                <label class="block px-2 font-mono font-extralight text-[--bright-green]" for="genetics">Type</label>
                <select class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2" name="type" id="type" required>
                  <option value="sativa">Sativa</option>
                  <option value="sativa_dh">Sativa Dominate</option>
                  <option value="hybrid" selected>Hybrid</option>
                  <option value="indica_dh">Indica Dominate</option>
                  <option value="indica">Indica</option>
                </select>
              </div>
            </div>
            <div class="md:columns-2">
              <label class="px-2 font-mono font-extralight text-[--bright-green] block" for="strain">Strain</label>
              <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2" type="text" name="strain" id="strain" placeholder="Gorrila Glue #4" required />
              <label class="px-2 font-mono font-extralight text-[--bright-green] block" for="genetics">Genetic Lineage</label>
              <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2" type="text" name="genetics" id="genetics" placeholder="{Sour Dubb x Chem Sister} x Chocolate Diesel" />
            </div>
            <fieldset>
              <legend class="p-2 font-mono text-xl font-medium text-[--purple]">Cannibinoids</legend>
              <div class="columns-2 sm:columns-3 md:columns-4 xl:columns-8">
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_thc">THC&nbsp;</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_thc" inputmode="numeric" id="cb_thc" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_thca">THCa</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_thca" inputmode="numeric" id="cb_thca" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_thcv">THCv</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_thcv" inputmode="numeric" id="cb_thcv" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_cbd">CBD&nbsp;</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_cbd" inputmode="numeric" id="cb_cbd" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_cbda">CBDa</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_cbda" inputmode="numeric" id="cb_cbda" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_cbn">CBN&nbsp;</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_cbn" inputmode="numeric" id="cb_cbn" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_cbg">CBG&nbsp;</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_cbg" inputmode="numeric" id="cb_cbg" min="0" max="100" step="0.01" value="0.00" />
                </div>
                <div class="flex items-center justify-center">
                  <label class="px-2 font-mono font-extralight text-[--bright-green]" for="cb_cbc">CBC&nbsp;</label>
                  <input class="my-2 box-border w-min rounded-md border-2 border-[--light-green] p-2 [-moz-appearance:_textfield] [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" type="number" name="cb_cbc" inputmode="numeric" id="cb_cbc" min="0" max="100" step="0.01" value="0.00" />
                </div>
              </div>
            </fieldset>
          </fieldset>
          <fieldset>
            <legend>Experience</legend>
            <label for="duration">Duration</label>
            <input type="time" />
          </fieldset>
          <input type="submit" value="Create" /><a href="/cannanote"><span class="cancel-btn">Cancel</span></a>
      </form>
    </div>
</body>
</html>
