<section class="body-font h-dvh bg-[url('https://images.unsplash.com/photo-1503262167919-559b953d2408?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-auto bg-top bg-no-repeat text-gray-600 opacity-75">

  <%- include('./nav.ejs') %>

 <div class="container mx-auto grid items-center gap-96 px-5 py-24">
   <div class="text-center md:text-right">
     <h1 class="title-font mb-4 text-3xl font-semibold text-white sm:text-4xl md:p-6">Unlock your inner cannabis connoisseur.<br class="inline-block" />Share Your Expertise</h1>
   </div>

   <div class="text-center md:mb-0 md:text-left">
     <h1 class="title-font mb-4 text-3xl font-semibold text-white sm:text-4xl md:p-6">Don't just smoke it, Note it!<br class="inline-block" />With CannaNote</h1>
   </div>

   <!-- Product demo image -->
   <!-- <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
       <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
     </div> -->
 </div>
</section>
