<section class="text-gray-600 h-dvh static opacity-75 body-font bg-top bg-auto bg-no-repeat bg-[url('https://images.unsplash.com/photo-1503262167919-559b953d2408?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">

    <%- include('./nav.ejs') %>

    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">

      <div class="absolute top-32 md:top-28 md:right-20 lg:flex-grow w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-left md:text-right items-center text-center ">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-white">Your notes can change someone&apos;s life
          <br class="inline-block">Share Your <strong class="">Experience</strong>
        </h1>
      </div>


      <div class="absolute md:bottom-32 md:left-20 bottom-6 lg:flex-grow w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-white">Recall that perfect strain 
          <br class="inline-block">With <strong class="">CannaNote</strong>
        </h1>
      </div>

      <!-- Product demo image -->
      <!-- <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
      </div> -->
    </div>
  </section>