<header class="text-gray-600 body-font z-10">
    <div class="container mx-auto flex flex-wrap p-5 flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-0">
        <svg width="200" height="200" viewBox="0 0 24 24" class="w-10 h-10 text-white p-2 bg-lime-500 rounded-full" xmlns="http://www.w3.org/2000/svg">
        </svg>
        <span class="ml-3 text-2xl">CannaNote</span>
      </a>

      <!-- The Navigation for when these pages are built out -->
      <nav class="ml-auto mr-auto flex flex-wrap items-center text-base justify-center">
        <!-- <a class="mr-5 hover:text-gray-900">Home</a>
        <a class="mr-5 hover:text-gray-900">Blog</a>
        <a class="mr-5 hover:text-gray-900">About</a>
        <a class="mr-5 hover:text-gray-900">FAQ's</a> -->
      </nav>
      <div class="flex gap-1">
        <a href="/login" class="inline-flex items-center border-2 border-purple-400 py-1 px-3 hover:border-solid hover:bg-purple-400 hover:border-purple-400 focus:outline-none rounded-2xl text-base text-white mt-0">
          Login
        </a>
        <a href="/signup" class="inline-flex items-center border-orange-300 border-2 py-1 px-3 focus:outline-none hover:bg-orange-400 hover:border-orange-400 rounded-2xl text-base text-white mt-0">
          Sign up
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </header>